<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mangoit" translate="label" sortOrder="1">
                <label>Mangoit Extensions</label>
        </tab>
        <section id="subcategory_listing" translate="label" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SubCategory Listing</label>
             <tab>mangoit</tab>
            <resource>Mangoit_SubCategoryListing::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>